# NYC Open Data API
SOCRATA_APP_TOKEN=

# Email service
RESEND_API_KEY=
FROM_EMAIL=no-reply@example.com

# Google AI API
GOOGLE_AI_API_KEY=

# Google Sheets
GOOGLE_SHEET_CREDENTIALS_PATH=./google-credentials.json
PROJECT1_GOOGLE_SHEET_ID=
PROJECT2_GOOGLE_SHEET_ID=
PROJECT2_GOOGLE_SHEET_NAME=Project2

# Google Datastore
GOOGLE_DATASTORE_CREDENTIALS_PATH=./google-credentials.json

# Server configuration
PORT=8080
RUN_HTTP_SERVER=true
RUN_NOW=true
